body {
    margin: auto;
}

/*Nav CSS Start*/
.navbar {
    border-bottom: ridge 1px #00ff55;
}

.navbar-brand {
    color: #FFFFFF;
}

.nav-link {
    color: #FFFFFF;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #00ff55;
}

.navbar-nav .nav-item .nav-link.active {
    border-bottom: 2px solid #00ff55;
    color: #00ff55;
}

.nav-sub-title {
    font-size: xx-small;
    color: #00ff55
}

.nav-image {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.navbar-nav {
    justify-content: right;
}

/*Body (Home) CSS Start*/

.home-section {
    width: 100%;
    height: 700px;
    background-image: url(../graphics/image/cvsuBackground.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title {
    text-align: center;
    justify-content: center;
}

.header-title {
    color: #FFFFFF;
}

.main-sub-title {
    color: #00ff55;
    text-shadow: 0 0 0px #00ff55, 0 0 5px #00ff55, 0 0 5px #00ff55;

}

.main-arrow-container {
    display: flex;
    justify-content: center;
}

.arrow-down-container {
    border-radius: 5px;
    width: 13%;
    height: 30px;
    transition: border-color 0.3s ease-in-out;
}

.arrow-down-container:hover {
    border: solid 1px #00ff55;
}

.arrow-down-icon {
    width: 30px;
    height: 30px;
}

/*Body (About) CSS Start*/
.about-section {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 60%, rgba(68, 68, 68, 1) 100%);

}

.about-section {
    text-align: center;
}

.history-header {
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 700;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.history-container {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.read-more-link {
    color: #00ff55;
    text-decoration: none;

}

.read-more-link:hover {
    color: #006321;

}

.history-content {
    align-items: center;
    color: #FFFFFF;
    background: rgb(68, 68, 68);
    background: linear-gradient(180deg, rgba(68, 68, 68, 1) 0%, rgba(42, 42, 42, 1) 50%, rgb(15, 15, 15) 100%);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.history-text {
    text-align: justify;
}


.statue-container {
    object-fit: cover;
    border: 3px solid #00ff55;
    border-radius: 2px;
    box-shadow: 0 1px 6px 0px #00ff55;
}

.cvsu-statue {
    width: 100%;
    height: 510px;
}

/*Body (About-Cards) CSS Start*/
.row>.col-12 {
    color: #FFFFFF;
    text-align: justify;
    margin-bottom: 10px;
}

.bg-box1 {
    background: rgb(68, 68, 68);
    background: linear-gradient(180deg, rgba(68, 68, 68, 1) 0%, rgba(42, 42, 42, 1) 50%, rgb(15, 15, 15) 100%);
    height: 217px;
    border-radius: 5px;
}

.bg-box2 {
    background: rgb(68, 68, 68);
    background: linear-gradient(180deg, rgba(68, 68, 68, 1) 0%, rgba(42, 42, 42, 1) 50%, rgb(15, 15, 15) 100%);
    height: 217px;
    border-radius: 5px;
}

.bg-box3 {
    background: rgb(68, 68, 68);
    background: linear-gradient(180deg, rgba(68, 68, 68, 1) 0%, rgba(42, 42, 42, 1) 50%, rgb(15, 15, 15) 100%);
    height: 217px;
    border-radius: 5px;
}


.card-title {
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.card-title::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00ff55;
}

/*Body (ACCORDION ) CSS Start*/
.accordion-item {
    background: rgb(68, 68, 68);
    background: linear-gradient(180deg, rgba(68, 68, 68, 1) 0%, rgba(42, 42, 42, 1) 50%, rgb(15, 15, 15) 100%);
    border-color: #343a40;
}

.accordion-button {
    color: #f8f9fa;
    background: linear-gradient(180deg, rgba(68, 68, 68, 1) 0%, rgba(42, 42, 42, 1) 100%);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #f8f9fa;
    background-color: #495057;
}

.accordion-button:not(.collapsed):hover {
    color: #f8f9fa;
    background-color: #495057;
}

.accordion-body {
    background-color: #000000;
}

:root {
    --bs-caret-color: red;
    /* Change this to your desired color */

}

.accordion {
    --bs-accordion-btn-icon: url('/graphics/image/icons8-arrow-down-50.png');
    --bs-accordion-btn-active-icon: url('/graphics/image/icons8-arrow-down-50.png');
}